

<div class="container">
  <h3>Mylist</h3>
<div class="row">
  <div class="col-xs-12" *ngFor = "let movie of myList; let index = index">
      <div class="card" (mouseenter)="mouseenter(index)" (mouseleave)="mouseleave(index)">
          <img class="card-img-top img-responsive" [src]="movie.img" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">{{movie.title}}</h4>
            <button 
            class="btn btn-danger" 
            *ngIf="(number == index)"
          (click)="delete(index)">Delete</button>
          </div>
      </div>
  </div>
</div>
<hr>
<h3>Recommendations</h3>
<div class="row">
  <div class="col-xs-12" *ngFor="let rec of recommendation; let value = index">
      <div class="card" (mouseenter)="onmouseenter(value)" (mouseleave)="onmouseleave(value)">
          <img class="card-img-top img-responsive" [src]="rec.img" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">{{rec.title}}</h4>
            <button 
            class="btn btn-primary" 
            *ngIf="(addNumber == value)"
            (click)="add(value)">Add</button>  
          </div>
      </div>
  </div>
</div>
</div>